

#Our models
models/REFace/checkpoints

#Example image outputs
examples/FaceSwap/Swap_outs/*

#face parsing model (segmentation) Done
Other_dependencies/face_parsing/79999_iter.pth


#stable_diffsuin models Done
pretrained_models/sd-v1-4.ckpt
pretrained_models/sd-v1-4-modified-9channel.ckpt

# Paint-by-example model Done
checkpoints/model.ckpt

# Expression model (For quantitative analysis only)  Not used
Other_dependencies/face_recon/epoch_latest.pth
eval_tool/Deep3DFaceRecon_pytorch_edit/BFM/*.mat

# Arcface model 
Other_dependencies/arcface/model_ir_se50.pth

# pose model (For quantitative analysis only)
Other_dependencies/Hopenet_pose/hopenet_robust_alpha1.pkl

# Landmark detection model 
Other_dependencies/DLIB_landmark_det/shape_predictor_68_face_landmarks.dat

# Qantitative results
Quantitative_Analysis/*

# unwanted files
niqe
**/*.pyc

#data
dataset/*


# results
results/*
examples/FaceSwap/Source_1/*
examples/FaceSwap/Target_1/*
examples/FaceSwap/Swap_outs_50/*
examples/FaceSwap/Swap_outs/*
