

#Our models
models/*  

#Example image outputs
examples/FaceSwap/Swap_outs/*

#face parsing model (segmentation)
pretrained/face_parsing/79999_iter.pth

#stable_diffsuin models
pretrained_models/sd-v1-4.ckpt
pretrained_models/sd-v1-4-modified-9channel.ckpt

# Paint-by-example model
checkpoints/model.ckpt

# Expression model (For eval)
checkpoints/face_recon/epoch_latest.pth

# Arcface model 
Other_dependencies/arcface/model_ir_se50.pth

# pose model (For eval only)
eval_tool/Face_rec_models/hopenet_robust_alpha1.pkl

# Landmark detection model (For train only)
Other_dependencies/DLIB_landmark_det/shape_predictor_68_face_landmarks.dat

# Qantitative results
Quantitative_Grad_Other_swappers/*

# unwanted files
niqe
**/*.pyc


#data
dataset/*


**/*.mat
eval_tool/Deep3DFaceRecon_pytorch_edit/DeepxFace/epoch_20.pth
eval_tool/Deep3DFaceRecon_pytorch_edit/BFM/Exp_Pca.bin

